<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Simon Ingeson - System Developer, Software Engineer, and Interaction Designer.")
    title Simon Ingeson
    link(rel="stylesheet", href="/style.css")
    link(rel="favicon", href="/favicon.ico")
  body
    h1 Simon Ingeson
    p System Developer, Software Engineer, and Interaction Designer.
    p Based in Boston, MA.
    ul
      li
        a(href="https://www.linkedin.com/in/simoningeson/") LinkedIn
      li
        a(href="https://stackoverflow.com/users/795759/simon-ingeson") StackOverflow
      li
        a(href="https://github.com/smonn") GitHub
      li
        a(href="https://twitter.com/ingeson") Twitter
    script
      include analytics.js
    // built using pugjs
